<div class="container" ng-class="{'menuOpen': $root.menuOpen, 'menuClosed': $root.menuOpen === false}" ng-init="mCtrl.initDeletedClients()">
    <div class="card">
        <div class="card-header">
            <div style="float:right">
                <h2><small>Search Client by ID or Name</small></h2>
                <input type="text" ng-model="search.$"/>
            </div>
            <h2>Deleted Client List <small>List of all the deleted clients in the database</small></h2>
            <div class="clearfix"></div>
            <div class="m-t-10">
                <div class="alert alert-danger" ng-show="formData.errMsg">{{formData.errMsg}}</div>
                <div class="alert alert-success" ng-show="formData.successMsg">{{formData.successMsg}}</div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>id</th>
                    <th>First Name</th>
					<th>Last Name</th>                   
                    <th>Phone Number</th>					
					<th>Address</th>
					<th>Email</th>				
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="client in mCtrl.clients | filter:search:strict">
                    <td>{{client.id}}</td>
                    <td>{{client.first_name}}</td>
                    <td>{{client.last_name}}</td>
                    <td>{{client.phone_number}}</td>
					<td>{{client.address}}</td>
					<td>{{client.email}}</td>					
                    <td>						
                        <i class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="mCtrl.popBlocker(mCtrl.clients.indexOf(client))" style="cursor:pointer"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="m-t-10">
        <div class="alert alert-danger" ng-show="formData.errMsg">{{formData.errMsg}}</div>
        <div class="alert alert-success" ng-show="formData.successMsg">{{formData.successMsg}}</div>
    </div>


    <div class="edit-blocker card" ng-show="mCtrl.editMode">
        <form ng-submit="mCtrl.setIsActiveClient(mCtrl.currentUserIndex)">
            <div class="list" style="background:none;">
                <label class="form-group">
                    <span class="input-label">ID:</span>
                    {{mCtrl.clients[mCtrl.currentUserIndex].id}}
                </label><br/>
				
               <label class="form-group">
					<span class="input input-label">Is Active</span><br/>
					<select ng-model="mCtrl.clients[mCtrl.currentUserIndex].newIsActive">
						<option value="1">Yes</option>
					</select>
				</label><br/><br/>
               
                <label class="item" style="background:none;border:0;">
                    <button class="btn btn-primary" type="submit">EDIT CLEINT</button>
                </label>
            </div>
        </form>
        <div class="closeButton" ng-click="mCtrl.closeBlocker()">X</div>
    </div>

</div>